*/**/__pycache__
*/**/db.sqlite3
scripts/slides/outputs/
scripts/slides/pngs/
scripts/slides/zips/
scripts/slides/yolo26n.pt
venv
.vscode
*/**/*.jpg
*/**/.env
nginx.conf
db_data
backend/static
backend/public