*/**/__pycache__
*/**/db.sqlite3
scripts/frames/outputs/
scripts/frames/pngs/
scripts/frames/zips/
scripts/frames/yolo26n.pt
venv
.vscode
*/**/*.jpg
*/**/.env
nginx.conf
db_data
backend/static
backend/public